// Color variables
$success-color: #65e892;
$warn-color: #ffd082;
$info-color: #3994d6;
$fail-color: #fe346e;
$grey-1: #f1f3f4;
$grey-2: #cccccc;
$grey-3: #222831;
$grey-4: #393e46;
$grey-5: #e4e4e4;
$primary-color: #1089ff;
$white: #fff;

// Opacity
$opacity-lighter: 0.25;
$opacity-light: 0.5;
$opacity-dark: 0.75;
$opacity-darker: 1;

// Border
// Radius
$radius-min: 8px;
$radius-max: 16px;
$radius-avatar: 50%;

// Border
$line-min: 2px;
$line-max: 4px;

// Margin/Padding
$pm-min: 4px;
$pm-mid: 8px;
$pm-max: 16px;

// Image
$img-min: 150px;
$img-mid: 250px;
$img-max: 350px;

// Typography
$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 24px;
$h5: 16px;
$p1: 22px;
$p2: 11px;
$p3: 9px;
$p4: 7px;
