// Header styling start

.header__1 {
    font-size: $h1;
}

.header__2 {
    font-size: $h2;
}

.header__3 {
    font-size: $h3;
}

.header__4 {
    font-size: $h4;
}

.header__5 {
    font-size: $h5;
}

// Header styling stop;

// Paragraph styling start
.paragraph__1 {
    font-size: $p1;
}

.paragraph__2 {
    font-size: $p2;
}

.paragraph__3 {
    font-size: $p3;
}

.paragraph__4 {
    font-size: $p4;
}
