/* Margin styling start */

.margin__small {
  margin: $pm-min;
}

.margin__medium {
  margin: $pm-mid;
}

.margin__large {
  margin: $pm-max;
}

/* Margin styling end*/

/* Padding styling start */

.padding__small {
  padding: $pm-min;
}

.padding__medium {
  padding: $pm-mid;
}

.padding__large {
  padding: $pm-max;
}

/* Padding styling end */
